.nav {
  display: flex;
  justify-content: space-round;
  align-items: center;
  min-height: 10vh;
  background: yellow;
  color: black;

}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.post-form {
  width: 500px;
  margin: auto;
}

.my-posts {
  text-align: center;
}

.all-posts {
  text-align: center;
}
/* .home {
  display: flex;
  justify-content: center;
  align-items: center;
} */